@font-face {
  font-family: Zapfino;
  src: url('/LoosWorkspace/fonts/Zapfino.ttf') format('truetype');
  /* src: url('/fonts/Zapfino.ttf') format('truetype'); */
}

@font-face {
  font-family: Staccato;
  src: url('/LoosWorkspace/fonts/TT0610M_.TTF');
  /* src: url('/fonts/TT0610M_.TTF'); */
}

body::-webkit-scrollbar {
  display: none;
}

#main-container {
  height: 100%;
  min-height: 100vh;
  background: url('/LoosWorkspace/images/NightBackground.jpg');
  /* background: url('/images/NightBackground.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}


/* Navigation Bar */
.navbar {
  background: inherit;
  font-size: large;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-item .nav-link {
  color: rgba(202, 214, 242, 0.6);
}

.nav-item .nav-link:hover {
  color: rgba(202, 214, 242, 1);
}


/* Home Page */
#home {
  height: 100vh;
  color: #cad6f2;
}

#home-container {
  padding-top: 30px;
}

#web-title {
  font-family: 'Zapfino', sans-serif;
  font-weight: 600;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

#scope {
  font-family: 'Courier New', monospace;
  font-weight: bold;
}

#contact-box {
  background-color: rgba(202, 214, 242);
  width: 55%;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  #contact-box {
    width: 70%;
  }
}

@media screen and (max-width: 900px) {
  #contact-box {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  #contact-box {
    width: 90%;
  }
}

#contact-info a:link, a:visited{
  color: rgb(16, 17, 87);
  font-weight: 500;
  text-decoration: none;
}

#contact-info a:hover{
  opacity: 0.8;
  text-decoration: none;
}

#contact-info a:active{
  opacity: 0.6;
  text-decoration: none;
}

footer {
  font-size: medium;
}


/* About Me */
#about-me {
  height: 100%;
  padding-top: 70px;
  overflow: hidden;
}

#about-me-container {
  background: rgba(202, 214, 242, 0.7);
  height: fit-content;
  overflow-y: auto;
}

#about-me-container::-webkit-scrollbar {
  display: none;
}

#subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
}

#about-me hr {
  height: 2px;
  background-color: rgb(0, 0, 0);
}

#row-table {
  width: 63%;
  margin: auto;
  padding: 0px;
}

@media screen and (max-width: 1400px) {
  #row-table {
    width: 80%;
  }
}

.table td {
  padding-bottom: 10px;
}

#period {
  width: 25%;
}

#period p, #details p {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: normal;
}

#subtitle-row {
  border-bottom: black solid 1px;
}

@media screen and (max-width: 800px) {
  #row-table {
      width: 100%;
      margin: auto;
      padding: 0px;
  }

  #period {
      width: 26%;
  }
}

.table td b, .table td p, .table td ul {
  background-color: transparent;
}

#view-project {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  background-color: transparent;
  color: rgb(17, 44, 197);
  border: rgb(17, 44, 197) solid 1.5px;
}

#view-project:hover{
  color: rgb(52, 56, 151);
  border: rgb(52, 56, 151) solid 1.5px;
}

#view-project:active{
  color: rgb(6, 6, 94);
  border: rgb(6, 6, 94) solid 1.5px;
}


/* Projects */
#project-container {
  padding-top: 55px;
  color: rgb(202, 214, 242);
}

.nav {
  width: 89%;
}

@media screen and (max-width: 800px) {
  .nav {
    width: 100%;
  }
}

#project-menu {
  border: none;
}

#project-menu .nav-item .active, #project-menu .nav-item .active:hover {
  background-color: rgba(130, 148, 203, 0.7);
  color: #000000;
  font-weight: bold;
}

#project-menu .nav-link{
  color: #7886ac;
  font-size: large;
}

#project-menu .nav-link:hover {
  color: #a9b5cb;
}

.card {
  border: none;
}

.card:hover {
  filter: contrast(65%);
}

.card:active {
  filter: contrast(50%);
}

.card img {
  height: 75%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#category-name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: linear-gradient(to right, rgba(158, 223, 249, 1), rgba(158, 223, 249, 0));
  border-radius: 6px;
  color: rgb(16, 17, 87);
  width: 100%;
}

@media screen and (max-width: 800px) {
  #category-name {width: 100%;}
}

#description {
  font-size: small;
  line-height: normal;
}

#attribute {
  border-radius: 15px;
  background-color: lightgray;
  padding-right: 15px;
  padding-left: 15px;
  font-size: small;
}


/* Modal - Project Details */
.modal-content {
  background-image: linear-gradient(rgb(0, 0, 40), rgb(10, 6, 150));
  color: #cad6f2;
}

.modal-body::-webkit-scrollbar {
  display: none;
}

#back-btn, #back-btn:visited{
  color: rgb(166, 142, 113);
  text-decoration: none;
  border: none;
}

#back-btn:hover{
  font-weight: bold;
}

#back-btn:active{
  font-weight: bold;
}

.modal-header {
  border: none;
}

#project-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #cad6f2;
}

.carousel {
  height: 100%;
  color: #cad6f2;
}

#prev-control {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 50%;
  top: 30%;
}

#next-control {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 50%;
  top: 30%;
}

.carousel-control:hover  {
  background-color: transparent;
  border: none;
  filter: invert(60%);
}

@media screen and (max-width: 800px) {
  #next-control {
      left: 20%;
  }

  #prev-control {
      right: 20%;
  }
}

@media screen and (max-width: 768px) {
  #next-control {
      left: 5%;
  }

  #prev-control {
      right: 5%;
  }
}

#project-img {
  height: 60%;
  background-color: rgba(202, 214, 242, 0.4);
}

#project-img img {
  object-fit: contain;
  object-position: center center;
}

#project-desc {
  height: fit-content;
  background-color: rgba(202, 214, 242, 0.4);
}

#desc-title {
  text-align: center;
}

#desc-data {
  text-align: justify;
  width: fit-content;
  margin: auto;
}

.media-body iframe {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  #project-img {
    height: 45%;
  }
}